<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <% if (userFullName) { %>
            <h2>Hello <%=userFullName%> </h2>
            <a href="/signout">Sign out</a>
        <% } %>
        <br>        
    </body>
</html>